<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <div id="background">
             <!-- contenitore generale dell'interfaccia -->
        <div class="cont-generale">

            <!-- sezione sinistra dell'interfaccia  -->
            <div class="sezione-contatti">

                <!-- sezione in altro del proprio contatto -->
                <div class="head">

                    <div class="contatti-sx">
                        <img src="img/avatar_io.jpg" alt="img">
                        <span>Pola</span>
                    </div>

                    <div class="contatti-dx">
                        <span><i class="fa-sharp fa-solid fa-circle-notch"></i></span>
                        <span><i class="fa-solid fa-message"></i></span>
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>

                </div>

                <!-- sezione per attivazione notifiche -->
                <div class="notifiche-onOff">
                    <div class="icona-notifica"><i class="fa-solid fa-bell-slash"></i></div>
                    <div class="testo-notifica">
                        <span class="testo-notifica-1">Ricevi notifiche di nuovi messaggi</span>
                        <span class="testo-notifica-2">Attiva notifiche desktop</span>
                    </div>
                </div>

                <!-- barra di ricerca chat -->
                <div class="ricerca-chat">

                    <button class="bottone-ricerca"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input v-model="ricerca" type="text" class="input-ricerca" placeholder="Cerca o inizia una nuova chat">
                
                </div>
                <!-- sezione lista dei contatti di chat gia avute -->
                <div class="cont-lista-contatti">
                    <!-- lista non ordinata dei contatti -->
                    <ul class="lista-contatti">
                        <!-- ciclo che crea i vari contatti in un 'li'
                                                                    evento click che assegna l'index ricavato dal ciclo al valore vuoto (indexActive)
                                                                                                v-bind sulla classe con un ternario per regolare la visione della chat attiva assegnando una una classe dedicata (active)-->
                        <li  v-for="(contatto,index) in contatti" v-show="filtraRicerca(contatto)"  @click="indexActive = index" :class=" index == indexActive ? 'active' : ''" class="contatti-sx">
                                <!-- regola l'immagine da visualizzare  -->
                                <img :src=contatto.avatar alt="img">

                                <div class="interno-contatto">
                                    <!-- fa visualizzare il nome  -->
                                    <span>{{contatto.name}}</span>

                        <!-- info ultimo messaggio sotto il contatto -->
                                    <span class="ultimo-messaggio">
                                        <!-- visualizza l'ultimo messaggio riguardante quella chat -->
                                        {{prendiUltimoMess(contatto)}}
                                    </span>
                                </div>
                                <span class="orario">
                                    <!-- visualizza l'orario riguardante ultimo messaggio della chat -->
                                    {{prendiOrario(contatto)}}
                                </span>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- sezione destra dell'interfaccia -->
            <div class="sezione-chat-attiva">

                <!-- sezione con il contatto della chat attiva con cui si chatta -->
                <div class="head">
                    <div class="contatti-sx">
                        <img :src=contatti[indexActive].avatar alt="img">

                        <div class="interno-contatto">
                            <!-- fa visualizzare il nome  -->
                            <strong>{{contatti[indexActive].name}}</strong> 

                <!-- info ultimo messaggio sotto il contatto -->
                            <span class="ultimo-messaggio">
                                <!-- visualizza l'ultimo messaggio riguardante quella chat -->
                                <span>Ultimo accesso {{ prendiOrario(contatti[indexActive]) }}</span>
                            </span>
                        </div>
                   
                    </div>
                    <div class="contatti-dx">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span><i class="fa-solid fa-paperclip"></i></span>
                        <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>
                </div>
                    
                <!-- sezione in cui si visualizzano i vari messaggi inviati e ricevuto della chat attiva -->
                <div class="chat-attiva">
                    <!-- ciclo che crea in pagina i messaggi presenti in memoria con quel contatto -->
                    <div v-for="(messaggio , index) in contatti[indexActive].messages" :class=" messaggio.status == 'sent' ? 'sent' : 'received'" class="messaggio">
                        <div :class="messaggio.status == 'sent' ? 'green' : 'white'" class="message" >
                            <span class="testo-messaggio">{{messaggio.message}}</span>  
                            <span class="orario orario-messaggio">{{prendiOrarioMessaggio(messaggio)}}</span>
                            <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <div class="btn-group">
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><button class="dropdown-item" type="button">Rispondi al messaggio</button></li>
                                    <li><button @click="eliminaMessaggio(index)" class="dropdown-item" type="button">Cancella Messaggio</button></li>
                                    <li><button class="dropdown-item" type="button">Info messaggio</button></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
                
                <!-- sezione input di nuovi messaggi in basso  -->
                <div class="chat-bar">
                    
                    <button class="bottone-emoticons"><i class="fa-regular fa-face-smile"></i></button>
                    <input v-model="nuovoMessaggio" @keyup.enter="addMessage()" class="input-chat" type="text" placeholder="Scrivi un messaggio">
                    <button class="bottone-microfono"><i class="fa-solid fa-microphone"></i></button>

                </div>
            </div>

        </div>
        </div>
       

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>